<% provide(:title, "Features") %>

	<div class="feature-content">
		<h1>My Master Resume in 3 easy steps...</h1>
		<div class="primary-features">
			<div class="feature">
				<h2>Build...</h2>
				<%= image_tag "wrench-icon.png", :class=> "feature-image" %>
				<p>...and maintain a comprehensive list of all your work experience.</p>
			</div>
			<div class="feature">
				<h2>Tag...</h2>
				<%= image_tag "tag-icon.png", :class=> "feature-image" %>
				<p>..your experience with your own keywords.</p>
			</div>
			<div class="feature">
				<h2>Customize...</h2>
				<%= image_tag "roller-icon.png", :class => "feature-image" %>
				<p>...additional resumes with only a few clicks.</p>
			</div>
		</div>
		<div class="secondary-features">
			<div class="feature">
				<h3>Import Easily</h3>
				<p>Have a LinkedIn profile?  Save time by starting your master resume with the information you've already painstakingly typed in.</p>
			</div>
			<div class="feature">
				<h3>One Change Everywhere</h3>
				<p>Find a better way of explaining that specialized task?  Make a change on your master and it flows down to all your other resumes.</p>
			</div>
			<div class="feature">
				<h3>Change Your Style</h3>
				<p>Feeling frisky?  Change the style of your resume with the click of the mouse.</p>
			</div>
			<div class="feature">
				<h3>Export Your Resume</h3>
				<p>All done?  Download your resume as a PDF file for attaching to email, applications, printing or just having it on your computer to show people how awesome you are.</p>
			</div>
		</div>
		<div class="request-invite">
			<%= link_to "Request Invite", request_invite_path, :class => "get-started-btn" %>
		</div>
	</div>
</div>

<!--<div class="row">
	<div class="span12">
		<h1>How Does The Master Resume Approach Work?</h1>
		<p class="feature-text">Over the years, you have accumulated a ton of work experience that will 
			help you get a job.  As it turns out, most people have multiple pages worth of work experience but best practice says that most resumes should be no longer than a page. So, the way around that is to create smaller, custom resumes but it can be a hassle to keep track of all your work experience. My Master Resume helps you manage all the information that goes into your resume and custom tailor new ones quickly, easily and simply.</p>
	</div>
</div>
<div class="row bm-vertical-spacing">
	<div class="span4 bm-vertical-spacing">
		<h5 class="feature-text">Start with the Master Resume</h5>
		<p class="feature-text">Create your master resume, a comprehensive list of all your work experience 
			at all your jobs.  Don't worry about the length... this is just for your reference.  All your other resumes will come from the master.</p>
	</div>
	<div class="span4">
		<p class="center-image">
			<%= image_tag "master-resume.png", :size => 300, :alt => "Start with the Master Resume" %>
		</p>
	</div>
	<div class="span4 bm-vertical-spacing">
		<h5 class="feature-text">Import your experience</h5>
		<p class="feature-text">Connect to your LinkedIn profile and import your entire resume or copy and 
			paste experience from an existing document.  It is simple to get all your work experience into your master resume.</p>
	</div>
</div>
<div class="row">
	<div class="span2 offset5">
		<p class="center-image">
			<%= image_tag "down-arrow.png" %>
		</p>
	</div>
</div>
<div class="row">
	<div class="span4 offset3 ">
		<h5 class="feature-text">Create tags</h5>
		<p class="feature-text">Your tags can be whatever you want... "Marketing", "Sales", "Awesome"... 
			it's entirely up to you.  Mark each work experience with one or more of your own custom tags for easy resume customization.</p>
	</div>
	<div class="span2">
		<p>
			<%= image_tag "tags.png", :width => 75 %>
		</p>
	</div>
</div>
<div class="row">
	<div class="span6 offset3 ">
		<p class="center-image">
			<%= image_tag "three-arrows.png", :width => 600 %>
		</p>
	</div>
</div>
<div class="row bm-vertical-spacing">
	<div class="span4 ">
		<p class="center-image">
			<%= image_tag "marketing-resume.png", :width => 300 %>
		</p>
	</div>
	<div class="span4 ">
		<p class="center-image">
			<%= image_tag "sales-resume.png", :width => 300 %>
		</p>
	</div>
	<div class="span4 ">
		<p class="center-image">
			<%= image_tag "finance-resume.png", :width => 300 %>
		</p>
	</div>
</div>
<div class="row bm-vertical-spacing">
	<div class="span4">
		<h5 class="feature-text">Create New Resumes</h5>
		<p class="feature-text">With the click of the mouse, you can create a custom resume based on your 
			tags. Tailoring your resume has never been easier.</p>
	</div>
	<div class="span4">
		<h5 class="feature-text">One Change, Everywhere</h5>
		<p class="feature-text">If you come up with a great new way to explain a work experience, make the 
			change on your master resume and that change shows up in all the relevant custom resumes.  You don't have to worry about it.</p>
	</div>
	<div class="span4">
		<h5 class="feature-text">Export Your Resume</h5>
		<p class="feature-text">You need to be able have a file to attach for your job applications.  It is 
			easy to export your resume to either a Word Document or Adobe PDF in the same attractive format you see on your screen.</p>
	</div>
</div>
<div class="row bm-vertical-spacing">
	<div class="span3 offset5">
		<p>
			<%= link_to "Request An Invite!", request_invite_path, :class => "btn btn-success btn-extra-large" %>
		</p>
	</div>
</div>
-->
