<div class="linkedin-form">
	<% if @positions.count == 0 %>
		<div class="row import-header">
			<h4>You do not have any positions on your LinkedIn account!</h4>
		</div>
	<% else %>
		<%= form_tag("/positions/#{@user.id}/import") do %>
			<div class="row">
				<div class="row import-header">
					<div class="span1">
						<h4>Import</h4>
					</div>
					<div class="span4">
						<h4>Description</h4>
					</div>
					<div class="span3">
						<h4>Currently In Your Resume</h4>
					</div>
				</div>
				<div class="row import-content">
					<div class="span5 import-form">
						<% @positions.each do |option| %>
							<div class="row option">
								<div class="span1">
									<%= check_box_tag('import[]', option.id) %>
								</div>
								<div class="span4">
									<%= option.title %>, <%= option.company.name %>
								</div>
							</div>
						<% end %>
					</div>
					<div class="span3 current-items">
						<ul>
							<% @current.each do |position| %>
								<li><%= position.title %>, <%= position.company %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="row import-buttons">
				<%= hidden_field_tag("user_id", @user.id) %>
				<%= submit_tag "Save", :class => 'btn-large btn-primary' %>
				<%= link_to "Cancel", @user, :class => 'btn btn-large', :style => "margin: 0 0 0 0;" %>
			</div>
		<% end %>
	<% end %>
</div>