<%= form_for(@education) do |f| %>
    <% if @education.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

            <ul>
                <% @education.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="item-form">
        <div class="school">
            <%= f.label :school %><br />
            <%= f.text_field :school %>
        </div>
        <div class="location">
            <div class="city">
                <%= f.label :city %><br />
                <%= f.text_field :city %>
            </div>
            <div class="state">
                <%= f.label :state %><br />
                <%= f.text_field :state %>
            </div>
        </div>
        <div class="degree-info">
            <div class="degree">
                <%= f.label :degree %><br />
                <%= f.text_field :degree %>
            </div>
            <div class="major">
                <%= f.label :major %><br />
                <%= f.text_field :major %>
            </div>
        </div>

        <div class="item-dates">
            <div class="field">
                <%= f.label :start_date %><br />
                <%= f.date_select :start_date, :start_year => 1980 %>
            </div>
            <div class="field">
                <%= f.label :end_date %><br />
                <%= f.date_select :end_date, :start_year => 1980 %>
            </div>
        </div>
    </div>
    <div class="item-tags">
        <h3><i class="icon-plus icon-white"></i>Choose Tags</h3>
        <div class="tag-field">
            <%= f.text_field :tag_tokens, data: { load: @education.tags } %>
        </div>
    </div>
    <div class="item-skills">
        <h3><i class="icon-plus icon-white"></i>Choose Skills</h3>
        <div class="skill-field">
            <%= f.text_field :skill_tokens, data: { load: @education.skills } %>
        </div>
    </div>
    <div class="item-buttons">
        <%= f.submit "Save", :class => 'btn-large btn-primary' %>
        <%= link_to "Cancel", master_resumes_url %>
    </div>
<% end %>
