<% provide(:title, "All Users") %>
<h1>All Users</h1>(<%= link_to 'New User', new_user_path %>)

<ul class="users">
  <% @users.each do |user| %>
    <li>
    	<div class="span1">
      		<%= gravatar_for user %>
      	</div>
      	<div class="span5">
      		<%= link_to user do %>  
      			<h4><%= user.first_name %> <%= user.last_name %></h4>
      		<% end %>
      	</div>
      	<div class="span4 offset1 pull-right">
      		<ul class="user-actions">
      			<li><%= link_to edit_user_path(user) do %> 
      					<i class="icon-search icon-edit"></i> Edit
      				<% end %> | 
      				<%= link_to user, confirm: 'Are you sure?', method: :delete do %>
      					<i class="icon-search icon-trash"></i> Delete
      				<% end %> | 
                              <%= link_to admin_password_reset_path(user.id) do %>
                                    <i class="icon-search icon-refresh"></i> Reset Password
                              <% end %>
      			</li>
      			<li> <% if user.admin? %>
                                    <%= link_to revoke_admin_path(user), method: :put do %>
                                          <i class="icon-search icon-user"></i> Revoke Admin
                                    <% end %>
                              <% else %> 
      				  <%= link_to make_admin_path(user), method: :put do %>
      					<i class="icon-search icon-user"></i> Make Admin
      				  <% end %>
                              <% end %>
      			</li>
                        <li>
      		</ul>
      	</div>
    </li>
  <% end %>


