<%= form_for(@skill) do |f| %>
    <% if @skill.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

            <ul>
                <% @skill.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="item-form">
        <div class="organization">
            <%= f.label :description %><br />
            <%= f.text_field :description %>
        </div>
    </div>


    <div class="item-tags">
        <h3><i class="icon-plus icon-white"></i>Choose Tags</h3>
        <div class="tag-field">
            <%= f.text_field :tag_tokens, data: { load: @skill.tags } %>
        </div>
    </div>

    <div class="item-buttons">
        <%= f.submit "Save", :class => 'btn-large btn-primary' %>
        <%= link_to "Cancel", master_resumes_url %>
    </div>
<% end %>
