<%= form_for(@award) do |f| %>
    <% if @award.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

            <ul>
                <% @award.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="span4">
            <div class="field">
                <%= f.label :description %><br />
                <%= f.text_field :description %>
            </div>
            <div class="field">
                <%= f.label :date %><br />
                <%= f.date_select :date, :start_year => 1980 %>
            </div>
        </div>
        <div class="span4">
            <div class="row">
                <h3>Choose Tags</h3>
                <%= check_box_tag "select_all_tags" %> Select All
                <ul>
                    <% @tags.each do |tag| %>
                        <li>
                            <%= check_box_tag "award[tag_ids][]", tag.id, @award.tags.include?(tag), :class => "tag_checkbox" %>
                            <%= tag.description %>
                        </li>
                    <% end %>
                </ul>
                <p><%= link_to "Create A New Tag", new_tag_path %></p>
            </div>
            <div class="row">
                <h3>Choose Skills</h3>
                <%= check_box_tag "select_all_skills" %> Select All
                <ul>
                    <% @skills.each do |skill| %>
                        <li>
                            <%= check_box_tag "award[skill_ids][]", skill.id, @award.skills.include?(skill), :class => "skill_checkbox" %>
                            <%= skill.description %>
                        </li>
                    <% end %>
                </ul>
                <p><%= link_to "Create A New Skill", new_skill_path %></p>
            </div>
        </div>
    </div>
    <div class="row">
        <%= f.submit "Save", :class => 'btn-large btn-primary' %>
        <%= link_to "Cancel", master_resumes_url %>
    </div>
<% end %>
