<%= form_for(@award) do |f| %>
    <% if @award.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

            <ul>
                <% @award.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="item-form">
        <div class="description">
            <%= f.label :description %><br />
            <%= f.text_field :description %>
        </div>
        <div class="item-dates">
            <div class="field">
                <%= f.label :date %><br />
                <%= f.date_select :date, :start_year => 1980 %>
            </div>
        </div>
    </div>
    <div class="item-tags">
        <h3><i class="icon-plus icon-white"></i>Choose Tags</h3>
        <div class="tag-field">
            <%= f.text_field :tag_tokens, data: { load: @award.tags } %>
        </div>
    </div>
    <div class="item-skills">
        <h3><i class="icon-plus icon-white"></i>Choose Skills</h3>
        <div class="skill-field">
            <%= f.text_field :skill_tokens, data: { load: @award.skills } %>
        </div>
    </div>
    <div class="item-buttons">
        <%= f.submit "Save", :class => 'btn-large btn-primary' %>
        <%= link_to "Cancel", master_resumes_url %>
    </div>
<% end %>
