<%= form_for(@experience) do |f| %>
    <% if @experience.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

            <ul>
                <% @experience.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="item-form">
        <%= f.hidden_field :position_id, :value => @position_id %>
        <div class="description">
            <%= f.text_field :description, :placeholder => "Description" %>
        </div>
    </div>
    <div class="item-tags">
        <h3><i class="icon-plus icon-white"></i>Choose Tags</h3>
        <div class="tag-field">
            <%= f.text_field :tag_tokens, data: { load: @experience.tags } %>
        </div>
    </div>

    <div class="item-skills">
        <h3><i class="icon-plus icon-white"></i>Choose Skills</h3>
        <div class="skill-field">
            <%= f.text_field :skill_tokens, data: { load: @experience.skills } %>
        </div>
    </div>
    <div class="item-buttons">
        <%= f.submit "Save", :class => 'btn-large btn-primary' %>
        <%= link_to "Cancel", master_resumes_url %>
    </div>
<% end %>
