<div class="new-section row">
	<div class="new-section-header">
		<h2>Activities</h2>
		<%= link_to "Add New Activity", new_activity_path, :class=> "add-new btn btn-small pull-right" %>
	</div>
	<% if @activities.nil? %>
		<div class="line-item row">
			<h4>You have no activities entered!  <%= link_to "Add One Now", new_activity_path %></h4>
		</div>
	<% else %>
		<% @activities.each do |activity| %>
			<div class="line-item">
				<p class="description">
					<%= activity.organization %> (<%= display_date(activity.start_date) %>
					<% if activity.start_date != activity.end_date %>
						- <%= display_date(activity.end_date) %>
					<% end %>
					)
				</p>
				<ul class="actions span2 pull-right">
					<li><%= link_to edit_activity_path(activity) do %>
							<i class="icon-search icon-edit"></i>
						<% end %>
					</li>
					<li><%= link_to edit_activity_path(activity) do %>
							<i class="icon-search icon-tag"></i>
						<% end %>
					</li>
					<li><%= link_to activity_path(activity), confirm: 'Are you sure?' 	, method: :delete do %>
							<i class="icon-search icon-trash"></i>
						<% end %>
					</li>
				</ul>
				<ul class="tag-list">
					<% activity.tags.each do |t| %>
						<%= render 'tag_list', :t => t %>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>
