<ul>
		<% @activities.each do |activity| %>
		<div class="row">
			<div class="span6">
				<li>
					<%= activity.organization %> (
						<%= display_date(activity.start_date) %>
						<% if activity.start_date != activity.end_date %>
							- <%= display_date(activity.end_date) %>
						<% end %>
					)
					<br />
					<div class="tag-list">
						<% activity.tags.each do |t| %>
							<%= render 'tag_list', :t => t %>
						<% end %>
					</div>
				</li>
			</div>
			<div class="span2">
				<ul class="actions">
					<li><%= link_to edit_activity_path(activity) do %>
							<i class="icon-search icon-pencil"></i>
						<% end %>
					</li>
					<li><%= link_to edit_activity_path(activity) do %>
							<i class="icon-search icon-tag"></i>
						<% end %>
					</li>
					<li><%= link_to activity_path(activity), confirm: 'Are you sure?' 	, method: :delete do %>
							<i class="icon-search icon-trash"></i>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	<% end %>
</ul>
