<div class="new-section row">
	<div class="new-section-header">
		<h2>Awards</h2>
		<%= link_to "Add New Award", new_award_path, :class=> "add-new btn btn-small pull-right" %>
	</div>
	<% if @awards.nil? %>
		<div class="line-item row">
			<h4>You have no awards entered!  <%= link_to "Add One Now", new_award_path %></h4>
		</div>
	<% else %>
		<% @awards.each do |award| %>
			<div class="line-item">
				<p class="description">
					<%= award.description %> (<%= display_date(award.date) %>)
				</p>
				<ul class="actions span2 pull-right">
					<li><%= link_to edit_award_path(award) do %>
							<i class="icon-search icon-edit"></i>
						<% end %>
					</li>
					<li><%= link_to edit_award_path(award) do %>
							<i class="icon-search icon-tag"></i>
						<% end %>
					</li>
					<li><%= link_to award_path(award), confirm: 'Are you sure?', method: :delete do %>
							<i class="icon-search icon-trash"></i>
						<% end %>
					</li>
				</ul>
				<ul class="tag-list">
					<% award.tags.each do |t| %>
						<%= render 'tag_list', :t => t %>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>
