<ul>
	<% @awards.each do |award| %>
		<div class="row">
			<div class="span6">
				<li>
					<%= award.description %> (<%= display_date(award.date) %>)
					<br />
					<div class="tag-list">
						<% award.tags.each do |t| %>
							<%= render 'tag_list', :t => t %>
						<% end %>
					</div>
				</li>
			</div>
			<div class="span2">
				<ul class="actions">
					<li><%= link_to "Edit", edit_award_path(award) %></li>
					<li><%= link_to "Tag", edit_award_path(award) %></li>
					<li><%= link_to "Delete", award_path(award), confirm: 'Are you sure?', method: :delete %></li>
				</ul>
			</div>
		</div>
	<% end %>
</ul>
