<% @education.each do |school| %>
	<div class="row">
		<div class="span6">
			<p class="school">
				<%= school.school %>, 
				<%= school.city %>, <%= school.state %>
			</p>
			<p class="pull-right">
				<%= display_date(school.start_date) %> - <%= display_date(school.end_date) %>
			</p>
			<p><% if school.major != "" %>
					<%= school.major %>
					<br />
				<% end %>
				<div class="tag-list">
					<% school.tags.each do |t| %>
						<%= render 'tag_list', :t => t %>
					<% end %>
				</div>
			</p>
		</div>
		<div class="span2">
			<ul class="actions">
				<li><%= link_to "Edit", edit_education_path(school) %></li>
				<li><%= link_to "Tag", edit_education_path(school) %></li>
				<li><%= link_to "Delete", education_path(school), confirm: 'Are you sure?', method: :delete %></li>
			</ul>
		</div>
	</div>
<% end %>
