<div class="new-section row">
	<div class="new-section-header">
		<h2>Education</h2>
		<%= link_to "Add New Education", new_education_path, :class=> "add-new btn btn-small pull-right" %>
	</div>
	<% if @education.nil? %>
		<div class="line-item row">
			<h4>You have no education entered!  <%= link_to "Add One Now", new_education_path %></h4>
		</div>
	<% else %>
		<% @education.each do |school| %>
			<div class="line-item">
				<p class="description">
					<%= school.school %>, <%= school.city %>, <%= school.state %>
					(<%= display_date(school.start_date) %> - <%= display_date(school.end_date) %>)
					<br />
					<%= school.major %>
				</p>
				<ul class="actions span2 pull-right">
					<li><%= link_to edit_education_path(school) do %>
							<i class="icon-search icon-edit"></i>
						<% end %>
					</li>
					<li><%= link_to edit_education_path(school) do %>
							<i class="icon-search icon-tag"></i>
						<% end %>
					</li>
					<li><%= link_to education_path(school), confirm: 'Are you sure?' 	, method: :delete do %>
							<i class="icon-search icon-trash"></i>
						<% end %>
					</li>
				</ul>
				<ul class="tag-list">
					<% school.tags.each do |t| %>
						<%= render 'tag_list', :t => t %>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>