<div class="row line-item">
	<div class="row">
		<div class="span8">
			<h3 style="display: inline;"><%= job[:position].company %> - <%= job[:position].title %>, 
				<%= job[:position].city %>, <%= job[:position].state %>
				(<%= display_date(job[:position].start_date) %> - 
					<% if job[:position].start_date == job[:position].end_date || job[:position].end_date == Date.today %>
						Current
				<% else %>
					<%= display_date(job[:position].end_date) %>
				<% end %>
				)
			</h3>
			<span class="dropdown label label-info">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Options</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><%= link_to "Add Experience", new_experience_path({ :pos => job[:position].id }) %></li>
					<li><%= link_to "Add Multiple Experiences", experience_mass_add_path({ :pos => job[:position].id }) %></li>
					<li><%= link_to "Edit Position", edit_position_path(job[:position].id) %></li>
					<li><%= link_to "Delete Position", position_path(job[:position].id), confirm: 'Are you sure?', method: :delete %></li>
				</ul>
			</span>
		</div>
	</div>
	<ul>
		<% if job[:experience].count == 0 %>
			<%= render 'no_experience', :job => job %>
		<% else %>
				<% job[:experience].each do |exp| %>
					<%= render 'experience_detail', :exp => exp %>
				<% end %>
		<% end %>
	</ul>
</div>