<div class="new-section row">
	<div class="new-section-header">
		<h2>Positions</h2>
		<%= link_to "Add New Position", new_position_path, :class=> "add-new btn btn-small pull-right" %>
	</div>
	<% if @positions.nil? %>
		<div class="line-item row">
			<h4>You have no positions entered!  <%= link_to "Add One Now", new_position_path %></h4>
		</div>
	<% else %>
		<% @positions.each do |job| %>
			<div class="line-item line-item-position">
				<h4 class="description"><%= job[:position].company %> - <%= job[:position].title %>, <%= job[:position].city %>, <%= job[:position].state %> (<%= display_date(job[:position].start_date) %> - 
						<% if job[:position].start_date == job[:position].end_date || job[:position].end_date == Date.today %>
							Current
						<% else %>
							<%= display_date(job[:position].end_date) %>
						<% end %>)
				</h4>
				<span class="position-options dropdown label label-info">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown">Options</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><%= link_to "Add Experience", new_experience_path({ :pos => job[:position].id }) %></li>
						<li><%= link_to "Add Multiple Experiences", experience_mass_add_path({ :pos => job[:position].id }) %></li>
						<li><%= link_to "Edit Position", edit_position_path(job[:position].id) %></li>
						<li><%= link_to "Delete Position", position_path(job[:position].id), confirm: 'Are you sure?', method: :delete %></li>
					</ul>
				</span>
				<% if job[:experience].count == 0 %>
					<ul>
						<li>You have no experience entered!  <%= link_to "Add Some Now", new_experience_path({ :pos => job[:position].id })%></li>
					</ul>
				<% else %>
					<%= render 'experience_detail', :job => job %>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>