<div class="new-section row">
	<div class="new-section-header">
		<h2>Skills</h2>
		<%= link_to "Add New Skill", new_skill_path, :class=> "add-new btn btn-small pull-right" %>
	</div>
	<% if @skills.nil? %>
		<div class="line-item row">
			<h4>You have no skills entered!  <%= link_to "Add One Now", new_skill_path %></h4>
		</div>
	<% else %>
		<% @skills.each do |skill| %>
			<div class="line-item">
				<p class="description">
					<%= skill.description %>
				</p>
				<ul class="actions span2 pull-right">
					<li><%= link_to edit_skill_path(skill) do %>
							<i class="icon-search icon-edit"></i>
						<% end %>
					</li>
					<li><%= link_to edit_skill_path(skill) do %>
							<i class="icon-search icon-tag"></i>
						<% end %>
					</li>
					<li><%= link_to skill_path(skill), confirm: 'Are you sure?', method: :delete do %>
							<i class="icon-search icon-trash"></i>
						<% end %>
					</li>
				</ul>
				<ul class="tag-list">
					<% skill.tags.each do |t| %>
						<%= render 'tag_list', :t => t %>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>