<h1>Beta Requests</h1>
<br />
	<div class="row">
		<div class="span4">
			<strong>Email</strong>
		</div>
		<div class="span2">
			<strong>Created</strong>
		</div>
		<div class="span2">
			<strong>Approved</strong>
		</div>
	</div>
	<% @beta_requests.each do |request| %>
		<div class="row">
			<div class="span4">
				<%= request.email %>
			</div>
			<div class="span2">
				<p><%= display_date(request.created_at, "%m/%d/%Y") %></p>
			</div>
			<div class="span2">
				<p><%= display_date(request.approved_at, "%m/%d/%Y") %></p>
			</div>
			<div class="span4">
				<p><%= link_to "Approve", edit_beta_request_path(request) %> 
					|
					<%= link_to request, confirm: 'Are you sure?', method: :delete do %>
						<i class="icon-search icon-trash"></i> Delete
					<% end %>
				</p>
			</div>
		</div>
	<% end %>

<%= link_to 'New Beta Request', request_invite_path, :class => "btn" %>

