<%= form_for(@activity) do |f| %>
    <% if @activity.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

            <ul>
                <% @activity.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="span4">
            <div class="field">
                <%= f.label :organization %><br />
                <%= f.text_field :organization %>
            </div>
            <div class="field">
                <%= f.label :position %><br />
                <%= f.text_field :position %>
            </div>
            <div class="field">
                <%= f.label :start_date %><br />
                <%= f.date_select :start_date, :start_year => 1980 %>
            </div>
            <div class="field">
                <%= f.label :end_date %><br />
                <%= f.date_select :end_date %>
            </div>
        </div>
        <div class="span4">
            <h4>Choose Tags</h4>
            <% @tags.each do |tag| %>
                <%= check_box_tag "activity[tag_ids][]", tag.id, @activity.tags.include?(tag) %>
                <%= tag.description %>
            <% end %>
            <p><%= link_to "Create A New Tag", new_tag_path %></p>
        </div>
    </div>
    <div class="row">
        <%= f.submit "Save", :class => 'btn-large btn-primary' %>
        <%= link_to "Cancel", master_resumes_url %>
    </div>
<% end %>
