<div class="work-block">
	<div class="position-header">
		<h3>Experience</h3>
	</div>
	<% if @positions.nil? %>
		<div class="position-body">
	<% else %>
		<div class="position-body">
			<% @positions.each do |job| %>
				<div class="position">
					<p>
						<span class="position-title">
							<%= job.title %>, 
						</span>
						<span class="position-company">
							<%= job.company %> 
						</span>
						<span class="position-dates">
							<%= display_date(job.start_date) %> - <%= display_date(job.end_date) %>
						</span>
					</p>
					<div class="position-experience">
						<ul>
							<% job.experiences.by_tag(@resume.tag_id).each do |exp| %>
								<li><%= exp.description %></li>
							<% end %>
						</ul>
					</div>
				</div>
			<% end %>
	<% end %>
	</div>
	<br class="clrFloat" />
</div>
