<% provide(:title, "Export #{@resume.description}") %>
<div class="row">
	<%= render 'resumes/sidebar' %>
	<div class="span6 offset2">
		<h1>Export Your Resume</h1>
		<br />
		<p>You can export your resume to either a Microsoft Word document or an Adobe PDF to attach 
			to an email.  The resume should be available in your "Downloads" folder unless you saved 
			it in a specific location</p>
		<h3>Export as..</h3>
		<div class="span2">
			<%= link_to "#" do %>
				<%= image_tag "word-icon.png", :alt => "Word Document", :class => "export-icon" %>
			<% end %>
		</div>
		<div class="span2 offset1">
			<%= link_to "#" do %>
				<%= image_tag "pdf-icon.png", :alt => "Acrobat Document", :class => "export-icon" %>
			<% end %>
		</div>
	</div>
</div>
