<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		<% File.open(@resume.style.print_filename.path).readlines.each do |line| %>
			<%= line %>
		<% end %>
	</style>
</head>
<body>
	<div class="resume-body">
		<%= render 'resumes/resume_header.html.erb' %>
		<div class="resume-info">
			<%= render 'resumes/education.html.erb' %>
			<%= render 'resumes/experiences.html.erb' %>
			<%= render 'resumes/awards.html.erb' %>
			<%= render 'resumes/skills.html.erb' %>
			<%= render 'resumes/activities.html.erb' %>
		</div>
	</div>
</body>


