</div>
<footer>
<div class="row footer-content">
	<div class="container">
	<div class="row">
		<div class="span4">
			<h3>Quick Links</h3>
			<div class="row">
				<div class="span2">
					<ul>
						<li><%= link_to "My Resumes", resumes_path %></li>
						<li><%= link_to "My Tags", tags_path %></li>
						<li><%= link_to "My Account", users_path(current_user) %></li>
						<li><%= link_to "Help & FAQ", "#" %></li>
					</ul>
				</div>
				<div class="span2">
					<ul>
						<li><%= link_to "Contact", contact_path %></li>
						<li><%= link_to "Terms of Service", terms_path %></li>
						<li><%= link_to "Privacy Policy", privacy_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="span4">
			<h3>Connect</h3>
			<p>Drop us a line, we'd love your feedback!</p>
			<div class="row">
				<div class="span4">
					<ul class="social-icons">
						<li><%= link_to "http://www.facebook.com/MyMasterResume" do %>
								<%= image_tag "facebook.png", :width => 35, :alt => "Follow us on Facebook" %>
							<% end %></li>
						<li><%= link_to "http://www.twitter.com/MyMasterResume" do %>
								<%= image_tag "twitter.png", :width => 35, :alt => "Follow us on Twitter" %>
							<% end %></li>
						<li><%= link_to "http://www.linkedin.com/in/MyMasterResume" do %>
								<%= image_tag "linkedin.png", :width => 35, :alt => "Connect with us on LinkedIn" %>
							<% end %></li>
						<li><%= link_to "https://getsatisfaction.com/mymasterresume/" do %>
							<%= image_tag "get-satisfaction.png", :width => 35, :alt => "Talk to us on Get Satisfaction" %>
							<% end %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="span4">
			<h3>Subscribe</h3>
			<div class="email-subscribe">
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="http://gymlyapp.us2.list-manage2.com/subscribe/post?u=b02882e9281d791a4f3c67201&amp;id=f4acda9d75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
						<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
						<div class="mc-field-group">
							<input type="text" value="" name="NAME" class="required" id="mce-NAME" placeholder="Name*">
						</div>
						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email*">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
					</form>
				</div>

				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container copyright">
		<p>&copy; My Master Resume, Inc. 2012</p>
	</div>
	</div>

</div>
</div>
</footer>
