<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %>| My Master Resume :: Resume Customization &amp; Optimization</title>
   <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/analytics' %>
</head>
<body>
	<%= render 'layouts/public_header' %>
	<div class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		
		<div class="static-content">
			<%= yield %>
		</div>
		
		<%= render 'layouts/public_footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
